[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
django = "*"
channels = "*"
channels-redis = "*"
daphne = "*"
whitenoise = "*"
django-heroku = {git = "https://github.com/garytyler/django-heroku"}
django-redis = "*"

[dev-packages]
django-debug-toolbar = "*"
pre-commit = "*"
isort = {extras = ["pipfile"],version = "*"}
flake8 = "*"
django-extensions = "*"

[requires]
python_version = "3.7"

[scripts]
manage="python manage.py" # Pipenv will first load .env
