[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-django = "*"
pytest-asyncio = "*"
pytest-mock = "*"
pytest-splinter = "*"
flake8 = "*"
pyflakes = {git = "https://github.com/pycqa/pyflakes",ref = "1911c20"}
tox = "*"

[packages]
django = ">=2.2.9"
channels = "*"
channels-redis = "*"
psycopg2-binary = "*"
whitenoise = "*"
dj-database-url = "*"
django-redis = "*"
beatserver = {editable = true,git = "https://github.com/garytyler/beatserver",ref = "4e3ebd8130ca0caf2c8e3559df2167b28ea93d91"}
django-rest-framework = "*"
django-configurations = "*"

[requires]
python_version = "3.8"
