{% load static %}
<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    {% block meta %}{% endblock meta %}
    <link type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'live/css/style.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'live/img/favicon.ico' %}"/>
</head>


<body class="body">
    {% block support %}{% endblock support %}
    {% block content %}{% endblock content %}
    <script type="text/javascript" src="{% static 'live/js/lib/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'live/js/lib/gyronorm/dist/gyronorm.complete.min.js' %}"></script>
    <script type="text/javascript"
        src="{% static 'live/js/lib/reconnecting-websocket/dist/reconnecting-websocket-iife.js' %}"></script>

    {% if debug %}
    <script>
        var DEBUG = true;
    </script>
    {% else %}
    <script>
        var DEBUG = false;
    </script>
    {% endif %}

    {% block script %}{% endblock script %}
</body>


</html>