{% load static %}
<!doctype html>
<html lang="en">


<head>
    <meta charset="utf-8">
    {% block meta %}{% endblock meta %}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'eventvr/css/style.css' %}">
</head>


<body class="body">
    {% block debug %}{% endblock debug %}
    {% block content %}{% endblock content %}
    <script type="text/javascript" src="{% static 'eventvr/js/lib/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'eventvr/js/lib/gyronorm/dist/gyronorm.complete.min.js' %}"></script>
    <script type="text/javascript"
        src="{% static 'eventvr/js/lib/reconnecting-websocket/dist/reconnecting-websocket-iife.js' %}"></script>
    {% block script %}{% endblock script %}
</body>


</html>