<!doctype html>
<html lang="en">

    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" name="viewport">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="//code.jquery.com/jquery-3.1.1.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="{% static 'eventvr/js/lib/jquery/dist/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'eventvr/js/lib/gyronorm/dist/gyronorm.complete.min.js' %}"></script>
        <script type="text/javascript" sr="{% static 'eventvr/js/lib/reconnecting-websocket/dist/reconnecting-websocket-iife.js' %}"></script>
    </head>

    <body>
        <div class="container">
            <br>
            {% block content %}{% endblock content %}
        </div>
        {% block script %}{% endblock script %}
    </body>

</html>
