{% extends 'eventvr/base.html' %}
{% load static %}


{% block meta %}
<meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
{% endblock meta %}

{% block script %}
{{ guest|json_script:"guest_json" }}
<script type="text/javascript" src="{% static 'eventvr/js/interact.js' %}"></script>
{% endblock script %}


{% block support %}
<!-- <div id="debug" style="display:none;"> -->
<div id="debug" style="display:none;">
    <table style="float:right;margin-right:5px">
        <td align="right" style="width:7ch"><b>alpha</b></td>
        <td id="motiondata_alpha" style="width:7ch"></td>
        <td align="right" style="width:6ch"><b>beta</b></td>
        <td id="motiondata_beta" style="width:7ch"></td>
        <td align="right" style="width:7ch"><b>gamma</b></td>
        <td id="motiondata_gamma" style="width:7ch"></td>
    </table>
</div>
{% endblock support %}


{% block content %}
<div class="container">
    <div id="guest_display_name"></div>
    <div id="interact_ui" style="display:none;">
        <h2>
            <input type="button" id="start_button" style="display:block;width:100%;height:200px;" value="Start">
            <input type="button" id="stop_button" style="display:none;width:100%;height:200px;" value="Stop">
        </h2>
        <h4>
            <input type="button" id="exit_interact_button" value="Exit"
                style="display:block;width:40%;height:60px;margin-left:30%">
        </h4>
    </div>
    <div id="queue_ui" style="display:none;">
        <br>
        <br>
        <h3>Queue</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Pos.</th>
                    <th>Name</th>
                    <th>Session Key</th>
                </tr>
            </thead>
            <tbody id="queue_table_body"></tbody>
        </table>
        <h4>
            <input type="button" id="exit_queue_button" value="Leave"
                style="display:block;width:40%;height:60px;margin-left:30%">
        </h4>
    </div>
</div>
{% endblock content %}