{% extends 'eventvr/base.html' %}

{% comment %}
{% block script %}
<script>
</script>
{% endblock script %}
{% endcomment %}

{% block content %}

<h1>eventvr</h1>

<br>

<div class="container">

    <h2>Data</h2>
    <table class="table" style="width:50%">
        <tbody>
            <tr>
                <th scope=" row"><b>SID</b></td>
                <td id="sid">
            </tr>
            <tr>
                <th scope="row"><b>alpha</b>
                    </td>
                <td id="alpha">
            </tr>
            <tr>
                <th scope="row"><b>beta</b>
                    </td>
                <td id="beta">
            </tr>
            <tr>
                <th scope="row"><b>gamma</b>
                    </td>
                <td id="gamma">
            </tr>

        </tbody>
    </table>

</div>

{% endblock content %}
