{% extends 'eventvr/base.html' %}


{% block content %}

    <h3>
        <b>ID:</b>
        <span action="#" id="interactor_name" method="POST"></span>
    </h3>

    <h2>Sessions</h2>
    <ul>
        {% for session in all_sessions %}
            <li>{{ session }}</li>
            {% empty %}

            <li>No sessions yet.</li>
        {% endfor %}
    </ul>


    <h2>Queue</h2>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Display Name</th>
                    <th>Available</th>
                    <th>Session Key</th>
                </tr>
            </thead>
            <tbody id="queue_table_body"></tbody>
        </table>
    </div>

{% endblock content %}
{% block script %}
    {{ interactor|json_script:"interactor_json" }}<script>
        $(document).ready(function() {

            if (window.location.protocol == "https:") {
                var ws_scheme = "wss://";
            } else {
                var ws_scheme = "ws://"
            };

            var interactor = JSON.parse(document.getElementById("interactor_json").textContent);
            $("#interactor_name").text(interactor.display_name);


            var queue_socket = new WebSocket(ws_scheme + window.location.host + "/ws/queue/");

            queue_socket.onmessage = function(e) {
                console.log(e.data);
                var data = JSON.parse(e.data)

                console.log(data.queue[0])


                for (index in data.queue) {
                    item = data.queue[index]
                    body = $("#queue_table_body")

                    body.append("<tr>")
                    body.append("<td>" + index + "</td>")
                    body.append("<td>" + item["display_name"] + "</td>")
                    body.append("<td>" + item["available"] + "</td>")
                    body.append("<td>" + item["session_key"] + "</td>")
                    body.append("</tr>")
                }
            };
            queue_socket.onclose = function() {
                console.error("Chat socket closed unexpectedly");
            };


            // var table = $("<table>").addClass("foo");
            // for (i = 0; i < 3; i ++) {
            //    var row = $("<tr>").addClass("bar").text("result " + i);
            //    table.append(row);
            // }

            // $("#here_table").append(table);
        });
    </script>
{% endblock script %}
